<ul class="nav navbar-nav navbar-right">
    <li>
        <form asp-controller="Account" asp-action="Register">
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </li>
    &nbsp;
    &nbsp;
    &nbsp;
    <li>
        <form asp-controller="Account" asp-action="Login">
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </li>
</ul>
